/******************************** 1) Generali ********************************/
.pagina-home {
    display: flex;
    flex-direction: column;

    height: 100%;

    width: 100%;
    overflow: hidden;

    animation: fadeIn 0.5s;
}

/******************************** 2) Sezioni Home Generali ********************************/




.pagina-home {
    .titleHomePage {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 0 0 0;
        background-color: var(--colore-1);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        z-index: 1001;



        max-height: 50%;
        overflow-y: auto;
        min-width: 0;



    }

    /******************************** 3) Sezione top bar ********************************/
    .topBar-Home {
        flex: 0 1 auto;



        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        background-color: var(--colore-1);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        z-index: 1001;



        max-height: 50%;
        overflow-y: auto;
        min-width: 0;


        @media (max-width: 20rem) {
            flex-direction: column;
            row-gap: 1rem;
            padding: 0.5rem 1.5rem;
        }

        @media (max-width: 15rem) {
            padding: 0.5rem 1rem;
        }

    }


    /********************* Lato sinistro della top bar ********************/
    .header-left {
        display: flex;
        flex-direction: row;
        column-gap: 1rem;
        color: var(--colore-4);

        padding: 0.5rem;

        @media (max-width: 25rem) {
            flex-direction: column;
            justify-content: flex-end;
        }
    }

    .btn-sidebar {
        color: var(--colore-4);
        font-size: 2.6rem;
        padding: 0 1rem;

    }

    .titlePage {
        margin: 0;

        font-size: 2rem;
    }

    .titlePage i {
        margin: 0 1rem
    }

    .btn-Comune {
        font-size: 1rem;
        background-color: var(--colore-4);
        padding: 0.3rem 0.8rem;
        border-radius: 8px;
        margin: 0 auto;
    }

    .btn-Comune:hover {
        background-color: var(--colore-3);
        color: var(--colore-4);
    }

    /********************* Lato destro della top bar ********************/

    .header-right {
        display: flex;

    }

    .contenitore-btn-autorizzarsi {
        display: flex;

        @media (max-width: 27rem) {
            flex-direction: column;
            justify-content: flex-end;
        }

        @media (max-width: 20rem) {
            flex-direction: row;
        }
    }

    /******** Utente non loggato ********/
    .btn-accesso {
        color: var(--colore-4);
    }


    /******** Utente loggato ********/

    /* Elementi quando autenticato */

    .contenitore-tendina-utente {
        position: relative;
        display: inline-block;
    }

    /* Il bottone utente  */
    .user-btn {
        display: flex;
        align-items: center;
        gap: 10px;
        background: transparent;
        border: 1px solid transparent;
        padding: 5px 10px;
        border-radius: 30px;

        color: var(--colore-4);

        cursor: pointer;
        transition: background 0.2s;
    }

    .user-btn:hover,
    .user-btn.attivo {
        border: 1px solid var(--colore-4);
    }

    .user-info {
        display: flex;
        flex-direction: column;
        text-align: right;
        font-size: clamp(11px, 1.3rem, 1.6rem);
    }

    .ruolo-utente {
        font-size: clamp(9px, 0.8rem, 1.6rem);
        color: var(--colore-3);
        font-weight: bold;
        text-transform: uppercase;
    }

    .user-avatar {
        width: 3.5rem;
        height: 3.5rem;
        background-color: var(--colore-4);

        color: var(--colore-1);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: clamp(10px, 1.1rem, 1.6rem);
    }




    /* Menù a tendina */
    .contenuto-tendina {
        display: none;

        position: fixed;


        background-color: var(--colore-4);

        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        z-index: 2000;

        overflow: hidden;
        animation: fadeIn 0.2s;
    }

    .contenuto-tendina.open {
        display: block;
    }


    /**********************************************************************************/
    /**********************************************************************************/
    /* Elementi del menu */
    .elementi-tendina {
        color: var(--dark);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        width: 100%;
        border: none;
        background: none;
        cursor: pointer;
        font-size: clamp(9px, 1rem, 1.6rem);
        transition: background 0.2s;
    }

    .elementi-tendina {
        background-color: var(--colore-4);
    }

    .elementi-tendina i {
        margin-right: 10px;
        width: 20px;
        text-align: center;
        color: #555;
    }

    .separatore-tendina {
        height: 1px;
        margin: 4px 0;
        overflow: hidden;
        background-color: #e5e7eb;
        border: none;
    }


    .logout-item:hover {
        background-color: #fee2e2;

        color: #dc2626;
    }

    .logout-item:hover i {
        color: #dc2626;
    }






    /**********************************************************************************/
    /**********************************************************************************/










    /**********************************************************************************/
    /**********************************************************************************/
    /**********************************************************************************/
    /******************************** 4) Sezione mappa ********************************/

    /* Contenitore mappa */
    .map-Home {
        flex: 1;
        position: relative;
        z-index: 1;
    }


    /* Button per aggiungere ticket */
    .aggiungi-btn {
        position: none;
        bottom: 2rem;
        right: 2rem;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;

        background-color: var(--colore-1);

        color: white;
        font-size: 2.4rem;
        border: none;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        cursor: pointer;
        z-index: 1000;

        transition: transform 0.2s;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .aggiungi-btn.attiva {
        position: absolute;
    }

    .aggiungi-btn:hover {
        transform: scale(1.2);
        background-color: var(--colore-5);
    }



    .search-container {
        display: flex;
        position: absolute;
        top: 1rem;
        left: 5rem;
        align-items: center;
        background: var(--colore-4);
        border-radius: 24px;
        padding: 5px 15px;
        width: 40%;
        z-index: 1001;
    }

    .search-container input {
        border: none;
        background: transparent;
        outline: none;

        width: 100%;
        padding: 5px;
    }

    .search-container button {
        border: none;
        background: none;
        cursor: pointer;
    }


}